<header class="site-head">


  <nav class="header-nav">
    <a class="header-button-right" href="/about/"><span class="header-icon">{% include _icons/about.svg %}</a></span><a class="header-button-right-top" href=""></a>
    <a class="header-button" href="/contacts/"><span class="header-icon">{% include _icons/contacts.svg %}</span></a><a class="header-button-top" href=""></a>
    <a class="header-button" href="/topics/"><span class="header-icon">{% include _icons/index.svg %}</span></a><a class="header-button-top" href=""></a>

    <a class="header-button" href="/"><span class="header-icon">{% include _icons/home.svg %}</span></a><a class="header-button-top" href=""></a>
  </nav>
  
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <h1 class="site-title">code &nbsp<strong class="pinkish">pills</strong></h1>

</header>
