<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<header class="site-head">

  <nav class="header-nav">

    <a class="header-button header-button-right" href="/about/">

     <span class="header-icon">{% include _icons/about.svg %}</span>

    </a>

    <a class="header-button" href="/contacts/">

      <span class="header-icon">{% include _icons/contacts.svg %}</span>

    </a>

    <a class="header-button" href="/topics/">

      <span class="header-icon">{% include _icons/index.svg %}</span>

    </a>

    <a class="header-button" href="/">

      <span class="header-icon">{% include _icons/home.svg %}</span>

    </a>

  </nav>



  <div id="title-background">
    <div id="title-position">
      {% include _icons/code-pills-title.svg %}
    </div>
  </div>

  <script type="text/javascript">

    $(".header-button").hover(function() {

      $(this).stop().animate({marginTop:"10px"}, 200);
      
    }, function() {

      $(this).stop().animate({marginTop:"-10px"}, 200);
      
    });

  </script>

</header>
